.room-container {
    /* border: 1px solid palegreen; */
    margin: 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.online {
    color: rgb(83, 247, 111);
}

.options {
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.btn-send-stream {
    padding: 1rem;
    cursor: pointer;
    background-color: rgb(228, 202, 202);
    font-size: large;
    border-radius: 5px;
    border: 2px solid black;
}

.btn-call {
    padding: 1rem 3rem;
    cursor: pointer;
    background-color: rgb(83, 247, 111);
    font-size: large;
    border-radius: 5px;
    border: 2px solid black;
}

.video-stream {
    width: 100%;
    display: flex;
    justify-content: space-between;
}