.room-container {
  border: 1px solid palegreen;
  margin: 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.online {
  color: rgb(83, 247, 111);
}

.options {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-send-stream {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: rgb(228, 202, 202);
  font-size: large;
  border-radius: 5px;
  border: 2px solid black;
  margin: 1rem 0;
}

.btn-call {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: rgb(83, 247, 111);
  font-size: large;
  border-radius: 5px;
  border: 2px solid black;
}

.video-stream {
  width: 100%;
  display: flex;
  
  margin-top: 1rem;
}

.my-stream {
  flex: 6;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.remote-stream {
  flex: 6;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

/* .media-player {
  border: 1px solid yellow;
} */
